/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2025, 12:04:45 PM
    Author     : admin
*/

/*Selector de IDs*/
#encabezado{
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    position: fixed;
    text-align: center;
    background-color: cadetblue;
}

#menu {
    top: 10%;
    left: 0;
    height: 5%;
    width: 100%;
    position: fixed;
    text-align: right;
    background-color: coral;
}

#barraLateral {
    top: 15%;
    left: 0;
    height: 75%;
    width: 20%;
    position: fixed;
    background-color: darkgreen;
}

#contenido {
    top: 15%;
    left: 20%;
    height: 75%;
    width: 80%;
    position: fixed;
    background-color: dimgray;
}

#piePagina{
    bottom: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    position: fixed;
    background-color: cyan;
}

/*Selector de Classes*/

.parrafoBlanco {
    color: white;
}

.parrafoCentrado {
    text-align: center;
}

.parrafoRojo {
    color: red;
}

/*Selector de Elementos?*/

/* Para todos los elementos del mismo tipo */

/*p {
    font-size: 20px;
}*/


/* Para aplicar el mismo estilo a diferentes elementos */

/*p, h1, h2 {
    font-size: 50px;
}*/


/* Contatenando elementos, aqui seria un div que contenga un p*/

div p {
    font-size: 20px;
}


/* Contatenando elementos Y clases, aqui seria un div con clase X que contenga un p*/

div.parrafoBlanco p {
    font-size: 8px;
}


/* Selector universal*/

/** {
    font-size: 35px;
}*/

body {
    background-color: red;
}

/* Selector de Anclas */

a:visited {
    font-size: 60px;
}

a:hover {
    background-color: green;
    color: white;
    transition: 0.5s; 
}

a:active {
    background-color: purple;
    color: white;
}